@import views.html.helper.inputText
@import forms.DependencySearchForm

@import play.api.Configuration
@(form: Form[DependencySearchForm],playConfiguration:Configuration)(implicit messages: Messages)

@main("Dependency Resolver") {
    @defining(play.core.PlayVersion.current) { version =>

        <section id="content">
            <div class="wrapper">
                <article>
                    <h2 class="sub-header">What is Dependency Resolver</h2>
                    <p>Dependency Resolver programmatically resolves transitively a given Dependency from the Maven Central, or the customized private repositories for snapshots and releases.</p>
                    <p>Once the dependency is resolved it is stored in the local Maven Repository. A URLClassLoader subtype is then made available in the cache, pointing at the path for the local dependency, and any class pertaining to that Dependency can then be loaded and instantiated through Reflection (i.e <code>classLoader.loadClass("org.apache.commons.io.FileUtils").newInstance()</code>)</p>
                    <p>One application for this code is that it can be used when we need to instantiate objects from classes at runtime, which were not available during compilation time, thus not part of the application's classpath.</p>
                    <p>In Web interface we can see the results for the Transitive Resolution of a Dependency of our choice.</p>
                    <p>This Single Page Application was written using Play, Scala, Java, JQuery and Bootstrap.</p>
                    <h2 class="sub-header">What is included</h2>
                    <p>Version @playConfiguration.getString("DependencyResolverVersion") of Dependency Resolver provides the following features: </p>
                    <ul class="list-group">
                        <li class="list-group-item">- Repository Customization</li>
                        <li class="list-group-item">- Repository Authentication through login in clear using settings.xml</li>
                        <li class="list-group-item">- Repository Authentication through encrypted login using security-settings.xml</li>
                    </ul>
                    <h2 class="sub-header">How it works</h2>
                    <p>Dependency Resolver was written in Java using <a href="https://wiki.eclipse.org/Aether/What_Is_Aether">Eclipse Aether Library</a>, the library used by <a href="https://maven.apache.org/resolver/index.html">Maven's Artifact Resolver</a>.</p>
                    <p>This web interface was created using Play Framework and Scala.</p>
                    <p>Use the form below to use Dependency Resolver to retrieve the URL for a Dependency of your own choice.</p>
                </article>
            </div>
        </section>
    @searchForm(form)
    }

}

