@import helper._
@import forms.DependencySearchForm
@import views.html.helper.inputText
@import forms.DependencySearchForm

@(dependencySearchForm: Form[DependencySearchForm])(implicit messages: Messages)

<section id="form">
    <div class="wrapper">
        <article>
            <h2 class="sub-header">Search for a dependency</h2>
            @helper.form(action = routes.DependencyManagerController.handleFormPost()) {
                @inputText(dependencySearchForm("groupId"),
                '_label -> "Group ID"
                )
                @inputText(dependencySearchForm("artifactId"),
                    '_label -> "Artifact ID")
                @inputText(dependencySearchForm("version"),
                    '_label -> "Version")
                <button type="submit" class="btn btn-primary">Search</button>
                }
        </article>
    </div>
</section>

